@define-color base00 #2e3440;
@define-color base01 #3b4252;
@define-color base02 #434c5e;
@define-color base03 #4c566a;

@define-color base04 #d8dee9;
@define-color base05 #e5e9f0;
@define-color base06 #eceff4;

@define-color base07 #8fbcbb;
@define-color base08 #88c0d0;
@define-color base09 #81a1c1;
@define-color base0A #5e81ac;

@define-color base0B #bf616a; /* red */
@define-color base0C #d08770;
@define-color base0D #ebcb8b;
@define-color base0E #a3be8c;
@define-color base0F #b48ead;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Source Code Pro';
	font-size: 14px;
	font-weight: 400;
  color: @base06;
  background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 4px;
  color: @base06;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 0px;
  background-color: @base08;
  color: @base01;
}

#workspaces button.urgent {
  background-color: @base0C;
  color: @base01;
}


#tray, .ibus-en, .ibus-vi, #network, #custom-brightness, #custom-weather, #mode, #pulseaudio, #clock {
  margin: 0 2px;
  padding: 0 6px;
  background-color: @base03;
  border-radius: 4px;
  min-width: 22px;
}

.ibus-vi {
  color: @base0D;
}

.ibus-en {
  color: @base09;
}

#tray {
  background-color: @base0A;
}

#tray * {
  padding: 0 6px;
  /* border-left: 1px solid @base00; */
}

#tray *:first-child {
  border-left: none;
}

#pulseaudio.muted {
  color: @base0C;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: @base03;
}
