/* begin_theme */
/* darkplus theme */ 
@define-color base00 #000000; 
@define-color base01 #1E1E1E; 
@define-color base02 #1E1E1E; 
@define-color base03 #444444; 
 
@define-color base04 #d8dee9; 
@define-color base05 #e5e9f0; 
@define-color base06 #e5e5e5; 
 
@define-color base07 #8fbcbb; 
@define-color base08 #88c0d0; /* cyan */ 
@define-color base09 #4B95CF; 
@define-color base0A #0078D4; 
 
@define-color base0B #f14c4c; /* red */ 
@define-color base0C #d08770; 
@define-color base0D #f5f543; 
@define-color base0E #a3be8c; 
@define-color base0F #b48ead;  
/* end_theme */

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'SFMono Nerd Font';
	font-size: 14px;
	font-weight: 400;
  color: @base06;
  background: @base01;
}

/* workspaces */
#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 5px;
  color: @base06;
  border-width: 0;
}

#workspaces button:hover {
  border-radius: 0px;
  background: @base06; 
  color: @base01;
  border-width: 0;
  border-radius: 4px;
}

#workspaces button.active {
  border-radius: 0px;
  background-color: @base08;
  color: @base01;
  border-width: 0;
  border-radius: 4px;
}

#workspaces button.urgent {
  border-radius: 0px;
  background-color: @base0C;
  color: @base01;
  border-width: 0;
  border-radius: 4px;
}

/* submap */
#submap {
  padding: 0 4px;
  background-color: @base0E;
  border-radius: 4px;
  color: @base01;
}


#tray, .ibus-en, .ibus-vi, #network, #custom-audio_idle_inhibitor, #custom-brightness, #custom-weather, #mode, #pulseaudio, #clock, #bluetooth {
  margin: 0 2px;
  padding: 0 6px;
  background-color: @base03;
  border-radius: 4px;
  min-width: 22px;
}

.output {
  color: @base09;
}

.ibus-vi {
  color: @base0D;
}

.ibus-en {
  color: @base09;
}

#tray {
  background-color: @base0A;
}

#tray * {
  padding: 0 6px;
  /* border-left: 1px solid @base00; */
}

#tray *:first-child {
  border-left: none;
}

#pulseaudio.muted {
  color: @base0C;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: @base03;
}
