.bar-menu_pct {
    color: if($bar-buttons-monochrome, $bar-buttons-text, $bar-buttons-dashboard-text);
    font-size: 0.94em;
    font-weight: 700;
    margin-left: 0em;
    opacity: 0;
    transition: 120ms;
}

.bar-menu_pct-active {
    margin-left: 0.72em;
    opacity: 1;
}
