@define-color base00 #222222;
@define-color base01 #303030;
@define-color base02 #555555;
@define-color base03 #898989;
@define-color base04 #898989;
@define-color base05 #c0c0c0;
@define-color base06 #e0e0e0;
@define-color base07 #ffffff;
@define-color base08 #e15d67;
@define-color base09 #fc804e;
@define-color base0A #e1b31a;
@define-color base0B #5db129;
@define-color base0C #21c992;
@define-color base0D #00a3f2;
@define-color base0E #b46ee0;
@define-color base0F #b87d28;

* {
    font-family: 'SFProDisplay Nerd Font';
    font-size: 14px;
    font-weight: 100;
}

.focused-title {
    background-color: @base0C;
    padding: 10px;
}

.clock{
    min-width: 125px;
}

.top-bar {
    min-height: 500px;
}

.dock-minimized {
    color: @base0F;
}

.dock-button,.toggle-minimized-button {
    border-radius: 0%;
}
.dock-button {
    min-width: 250px;
}

.dock-focus, .workspace-focus  {
    color: @base0C;
}
